// Bottom navigation bar

nav.bar.bar-tab
  a(href='#').tab-item
    span.icon.icon-person
    span.tab-label Profiles

  a(href='#').tab-item
    span.icon.icon-home
    span.tab-label Home

  a(href='#').tab-item
    span.icon.icon-gear
    span.tab-label Info