// Top navigation
header.bar.bar-nav

  a(onclick='window.history.back(-1)')
    button.btn.btn-link.btn-nav.pull-left
      span.icon.icon-left-nav
      | Back

  h1.title MFP Job Insights
  //
    button.btn.btn-link.btn-nav.pull-right Next
      span.icon.icon-right-nav