extends layout

block head
  link(rel='stylesheet', href='/stylesheets/question.css')

block content
  // Top navigation
  header.bar.bar-nav

    - var backId = id - 1;
    - var back = '/questions/' + backId;
    a(href=back)
      button.btn.btn-link.btn-nav.pull-left
        span.icon.icon-left-nav
        | Back

    h1.title MFP Job Insights
    //
      button.btn.btn-link.btn-nav.pull-right Next
        span.icon.icon-right-nav

  // Center content
  div.content
    div.content-padded
      div.jumbotron
        h1 Congratulations #{name}!

      p
        | #{story}