extends layout

block head
  link(rel='stylesheet', href='/stylesheets/index.css')
  //meta(http-equiv='refresh', content='5')
    
block content

  // Top navigation
  header.bar.bar-nav
    //
      button.btn.btn-link.btn-nav.pull-left
        span.icon.icon-left-nav
        | Back

    h1.title #{title}

    //
      button.btn.btn-link.btn-nav.pull-right Next
        span.icon.icon-right-nav

  // Center Content
  div.content
    div.content-padded
      div.jumbotron
        h1.copy-heading What job is right for you?
        p.copy-subtitle Chart your own journey...

      form
        input(type='text' placeholder='Enter Your Name')#name-field

      // We have Javascript attached to this as well, but Push.js sometimes messes up the js load
      button(disabled=true).btn.btn-block.btn-primary.start-button#onward-button
        | Onward!!! -->

      div.notification#name-presence-notification
        | Please enter a name to start explorer!

      // Inline style corrects for push.js quirks
      img(src='/images/little-guy.svg', style='width:150px;margin-right:auto;marign-left:auto')#landing-image

    script(class='js-custom').
      function validateNamePresence() {
        var $nameField = $('#name-field');
        var val = $nameField.val();
        // Ensure that there is a valid input
        return val !== '';
      }

      function raiseError() {
        $('#name-presence-notification').css({display:'block'});
        $('#landing-image').css({display:'none'});
        $('#name-field').css({'border-color':'#D9534F'});
        complete.log("Incomplete name");
      }

      function hideError() {
        $('#name-presence-notification').css({display:'none'});
        $('#landing-image').css({display:'block'});
        $('#name-field').css({'border-color':'#ccc'});
        console.log("Complete name");
      }

      // validate name presence on the onward button click
      // Display/hide an error message appropriately
      $('#onward-button').click(function(e) {
        // Prevent any standard linking
        e.preventDefault();

        // Stop page move and show error notification
        if (!validateNamePresence()) {
          raiseError();

        // Hide errors and save name
        } else {
          //hideError();
          var name = $('#name-field').val();
          window.location.href = '/questions/0/?name=' + encodeURIComponent(name);
        }
      });

block foot