extends layout

block head
  link(rel='stylesheet', href='/stylesheets/question.css')

block content
  // Top navigation
  header.bar.bar-nav

    - var backId = question.id - 1;
    - var back = '/questions/' + backId;
    a(href=back)
      button.btn.btn-link.btn-nav.pull-left
        span.icon.icon-left-nav
        | Back

    h1.title #{title}
    //
      button.btn.btn-link.btn-nav.pull-right Next
        span.icon.icon-right-nav

  div.content
    h1
      = question.question

    ul.table-view
      each val, option in question.options
        li.table-view-cell   
          a(href='/questions/' + (question.id + 1) + '?q=' + question.id + '&a=' + encodeURIComponent(option)).navigate-right
            = option

block foot