body {
  font-family: 'Gloria Hallelujah', cursive;
}

.btn {
  font-family: 'Gloria Hallelujah', cursive;
}

.jumbotron {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 3px; 
  margin: 15px 0px;
}

.notification {
  display: none; /* Start notifications as hidden */
  text-align: center;
  color: #D9534F;
  padding: 15px;
  border: 1px solid #D9534F;
  margin: 15px;
}

.copy-heading {
  text-align: center;

}
.copy-subtitle {
  text-align: center;
  font-style:italic;
}

.start-button {
  margin: 15px 0x 15px;
  font-size: 30pt;
}